body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}

#map {
    height: 400px; /* Adjust height as needed */
    width: 100%;
}

/* Add styles for other user's marker */
#map {
    position: relative;
}

/* Customize the other user's marker icon size */
.other-user-marker {
    width: 30px;
    height: 30px;
}
